<section id="categories" class="container">
    <div class="row">
        <div class="col m6">
            <div class="card" ng-repeat="category in square.categories | limitTo:2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{category.img}}">
                    <span class="card-title">{{category.name}}</span>
                </div>
            </div>

        </div>

        <div class="col m3">
            <div class="card" ng-repeat="category in square.categories | limitTo:3:2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{category.img}}">
                    <span class="card-title">{{category.name}}</span>
                </div>
            </div>
        </div>

        <div class="col m3">
            <div class="card" ng-repeat="category in square.categories | limitTo:2:5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{category.img}}">
                    <span class="card-title">{{category.name}}</span>
                </div>
            </div>
        </div>
    </div>
</section>